.about-section {
  flex-direction: column;
  justify-content: space-around;
  color: white;
  text-align: left;
  @include responsive('medium') {
    flex-direction: row;
  }
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 400px;
      margin: 0 1rem;
      width: 60%;
      @include responsive('medium') {
        width: 100%;
        height: 100%;
      }
    }
  }
  .paragraph {
    width: 100%;
    background: $tertiary;
    border-radius: $border;
    padding: 1rem;
    @include responsive('medium') {
      width: 50%;
    }
    a {
      color: $semi;
    }
  }
}
