.blog-section {
  ul.blog-list {
    margin: 0;
    text-align: left;
    list-style-type: none;
    .title {
      font-weight: 600;
      font-size: 2rem;
    }
  }
  @import '../components/card';
}

.blog-slug-section {
  border-radius: $border;

  margin: 1rem;
  color: black;

  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .markdown {
    max-width: 100%;
    line-height: 1.7;
    h1,
    h2,
    h3,
    h4,
    h5 {
      line-height: normal;
    }
    .iframe {
      max-width: 100%;
      max-height: 40%;
    }
    blockquote {
      background: white;
      border-left: 5px solid $fourth;
      margin: 1.5em 0;
      padding: 0.5em 10px;
    }
    blockquote:before {
      color: #ccc;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
    }
    code {
      font-size: 1rem;
    }

    a {
      text-decoration: underline;
      color: $primary;
    }
    p {
      font-weight: 500;
    }
    img {
      max-width: 100%;
      max-height: 400px;
    }
    @include responsive('medium') {
      max-width: 60%;
    }
  }
}
