.contact-section {
  margin: 1rem;
  border-radius: 10px;
  .contact-body {
    display: flex;
    box-shadow: $shadow;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 0;
    @include responsive('medium') {
      margin: 2rem;
      flex-direction: row;
    }
    .paragraphs {
      flex: 0 0 50%;
      background: $tertiary;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 1rem;
      img {
        filter: drop-shadow(2px 2px 2px rgb(63, 63, 63));
      }
    }
    form {
      flex: 0 0 50%;
      background: $fourth;
      padding: 1rem;
      color: white;
    }
    .form-input {
      margin: 0.5rem 0;
    }
    input,
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid rgba($fourth, 0.5);
      border-radius: 10px;
      font-size: 1.5rem;
      &:focus {
        box-shadow: 0 0 0 2px rgba($tertiary, 0.6);
        outline: none;
      }
    }
    textarea {
      resize: none;
    }
    button {
      width: 30%;
    }
  }
  .alert-error {
    color: #ad0000;
    border-radius: $border;
    background: #f8cfcf;
    border: 1px solid rgb(204, 131, 131);
    padding: 0.5rem;
  }
}
