@import './functions';
@import './animation';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$primary: #ee2e31;
$secondary: #112866;
$tertiary: #1d7874;
$fourth: #679289;
$semi: #f4c095;
$shadow: 1px 2px 10px rgba(100, 100, 100, 0.5);
$border: 10px;
$maxWidth: 1400px;

html,
body {
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
body {
  color: white;
  background: rgb(230, 230, 230);
  justify-content: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
#__next {
  width: 100%;
  max-width: $maxWidth;
}

p {
  line-height: 1.7;
}

a {
  color: $primary;
  &.link {
    &:hover {
      text-decoration: underline;
    }
  }
}

.primary {
  background: $primary;
  :disabled {
    background: darken($primary, 10%);
  }
}
.text-primary {
  color: $primary;
}
.btn {
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: $border;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  box-shadow: $shadow;
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.5);
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.7;
  }
  svg {
    width: 20px;
  }
}

$spacing: 8.5px;

@for $i from 1 through 5 {
  .mr-#{$i} {
    margin-right: $i * $spacing;
  }
  .ml-#{$i} {
    margin-left: $i * $spacing;
  }
  .mt-#{$i} {
    margin-top: $i * $spacing;
  }
  .mb-#{$i} {
    margin-bottom: $i * $spacing;
  }
  .m-#{$i} {
    margin: $i * $spacing;
  }
  .my-#{$i} {
    margin: $i * $spacing 0;
  }
  .mx-#{$i} {
    margin: 0 $i * $spacing;
  }
}

em {
  color: $secondary;
}
section {
  display: flex;
  flex-direction: column;
  color: $primary;
  text-align: center;
  padding: 0.5rem;
  overflow: auto;
  h1 {
    font-size: 2.5rem;
  }
}
@import './components/navbar';
@import './components/spinner';
@import './components/tooltip';

// SEctions
@import './sections/skills';
@import './sections/header';
@import './sections/works';
@import './sections/contact';
@import './sections/blog';
@import './sections/about';
// Tooltip

.banner {
  width: 100%;
  text-align: center;
  background: $tertiary;
  padding: 2rem;
  margin-top: 1rem;
}

footer {
  background: $tertiary;
  padding: 1rem;
  text-align: center;
  a {
    color: white;
    text-decoration: underline;
  }
}

#nprogress .bar {
  background: $primary !important;
  height: 5px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px 0 $primary, 0 0 5px 0 $primary !important;
}
